# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#CMake temp
*.cmake
CMakeFiles/
CMakeCache.txt
_CPAck_Packages/
Testing/
helloworld-0.*
helloworld_cli
install_manifest.txt
test_version
#generate automatically
version.h
Makefile